
div[class*="player-card-"] {
    border: 5px solid $white;
    padding: 20px;
    display: flex;
}

.player-card_img{
    float: left;
    width: 45%;
}

.player-card_img img{
    width: 40%;
}

.player-card_text{
    float: right;
    width: 45%;

    ul{
        padding: 0;
    }
    li{
        list-style-type: none;
        color: $white;
    }
}

.player-Border-Indicator-On{
    opacity: 0.6;
}

.dice-img{
    width: 100%;
    cursor: pointer;
    transition: ease-in-out 0.1s;
  }

  .dice-img:hover{
      transition: ease-in-out 0.3s;
    transform: scale(1.2) rotate(10deg);
  }


.board-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 7vw);
    grid-gap: 10px;
    //background-color: $white;
    padding: 10px;
    //border: 10px solid #2B2B2B;
}

div[class*="board_step-wrapper-"] {
    position: relative;
    border-bottom: 10px solid $white;
}

div[class*="board_step-wrapper-"] img {
    position: absolute;
    bottom: 0;
    width: 60%;
    left: 20%;
    right: 20%;
}

.ladder{
    bottom: 25px;
}

#white-walker{
    width: 40%;
    left: 30%;
    right: 30%;
}

#dragon-egg{
    width: 50%;
    left: 25%;
    right: 25%;
}

.board_step-wrapper-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

}
.board_step-wrapper-9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
.board_step-wrapper-8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.board_step-wrapper-7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.board_step-wrapper-6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.board_step-wrapper-5 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.board_step-wrapper-4 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.board_step-wrapper-3 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
.board_step-wrapper-2 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}
.board_step-wrapper-1 {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}





.board_step-wrapper-11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.board_step-wrapper-12 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.board_step-wrapper-13 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.board_step-wrapper-14 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.board_step-wrapper-15 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.board_step-wrapper-16 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.board_step-wrapper-17 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}
.board_step-wrapper-18 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}
.board_step-wrapper-19 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}
.board_step-wrapper-20 {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}



.board_step-wrapper-30 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.board_step-wrapper-29 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.board_step-wrapper-28 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.board_step-wrapper-27 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.board_step-wrapper-26 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.board_step-wrapper-25 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.board_step-wrapper-24 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
}
.board_step-wrapper-23 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}
.board_step-wrapper-22 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}
.board_step-wrapper-21 {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}