.logo-wrapper{
    margin-top: 50px;
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    color: white;
    text-align: center;
}

.index-wrapper{
    margin-top: 100px;
    width: 70%;
    left: 15%;
    right: 15%;
    position: absolute;
    //z-index: 999;
}


.marquee-wrapper{
    margin-top: 100px;
    position: absolute;
    left: 0;
    right: 0;
}

.backgorund-animation{
    width: 10px;
    height: 10px;
    background: $white;

  }


.rules{
  width: 50%;
  left: 25%;
  right: 25%;
  height: 50%;
  top: 25%;
  bottom: 25%;
  position: relative;

  h1, li {
    color: $white;
    
  }
  li{
    font-size: 18px;
  }
  ol{
    padding:0;
    margin-bottom: 50px;

    margin-left: 1em;
  }
}


.eyeWrapper{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}
.eyeSpan{
  width: 200px;
  height: 200px;
  //background: white;
  position: absolute;
}
