* {
    font-family: 'Avenir', 'Open sans';
    line-height: 1.5;
  }
  
  body,
  html{
    background: $bs-background;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
  }

  h5{
      text-align: center;
  }
  

  #background-1{
    left: 0;
    right: 0;
    top: 0;
    max-height: 60vh;
    padding: 5% 0 5% 0;
    position: absolute;
    z-index: 1;
  }



  .background-decoration{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
  }


  .quit-btn{
    color: white;
    text-decoration: none;
  }


.start-btn {
  margin-top: 30px;
  padding: 10px;
  border: 2px solid $icy-blue;
  color: $icy-blue;
  text-decoration: none;
  margin: 0 15px 0 0;
  }

  .start-btn:hover {
    background: $icy-blue;
    color: $bs-background;
    transition: ease-in-out 0.3s;
    }

  
