
.character-card{
    color: white;
    border: 2px solid white;
    padding: 20px;
}

.startBtnDiv{
    margin-top: 20px;
}


.start-btn {
margin-top: 30px;
padding: 10px;
border: 2px solid $icy-blue;
color: $icy-blue;
text-decoration: none;
}


.character-display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 14vw);
    grid-gap: 10px;
}


.character__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.character__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.character__item--3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.character__item--4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.character__item--5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.character__item--6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.character__item--7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.character__item--8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.character__item--9 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.character__item--10 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}




.character-wrapper{
    width: 150px;
    height: 150px;
}


input[type="checkbox"][id^="character-checkbox"] {
    display: none;
}

.character-checkbox-label {
    border: 2px solid transparent;
    display: block;
    border-radius: 3px;
    position: relative;
    margin: 20px 0 0 0;
    cursor: pointer;
    user-select: none;
    transition: ease-in-out 150ms;
    //width: 50%;
    //height: 50%;
    //left:25%;
    //right:25%;
}


.character-checkbox-label img {
    height: 100%;
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked+.character-checkbox-label {
    border: 2px solid $icy-blue;
    transition: ease-in-out 150ms;
    transform: scale(0.95);
}


