.winnerCardWrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
  
  
    &--winnerCard{
      width: 30%;
      padding: 50px;
      position: absolute;
  
      &__img img{
        width: 20%;
        float: left;
        position: relative;
      }
  
      &__text{
        float: right;
        position: relative;
        width: 70%;
      }
    }
  }
  
  .overFlowHidden{
    overflow: hidden;
  }