.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^=col] {
  float: left;
  margin: 3px 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

/*breakpoint*/
@media only screen and (min-width: 540px) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 640px) {
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}
@media only screen and (min-width: 500px) {
  .container {
    width: 75%;
    max-width: 1160px;
  }
}
@media only screen and (min-width: 360px) {
  .container {
    width: 70%;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    width: 95%;
  }
}
* {
  font-family: "Avenir", "Open sans";
  line-height: 1.5;
}

body,
html {
  background: #2B2B2B;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

h5 {
  text-align: center;
}

#background-1 {
  background-color: #2B2B2B;
  left: 0;
  right: 0;
  top: 0;
  max-height: 60vh;
  padding: 5% 0 5% 0;
  z-index: 2;
}

.logo-wrapper {
  margin-top: 50px;
  position: relative;
  width: 40%;
  left: 30%;
  right: 30%;
  color: white;
  text-align: center;
}

.character-card {
  color: white;
  border: 2px solid white;
  padding: 20px;
}

.startBtnDiv {
  margin-top: 20px;
}

.start-btn {
  margin-top: 30px;
  padding: 10px;
  border: 2px solid cyan;
  color: cyan;
  text-decoration: none;
}

.character-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 14vw);
  grid-gap: 10px;
}

.character__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.character__item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.character__item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.character__item--4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.character__item--5 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.character__item--6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.character__item--7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.character__item--8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.character__item--9 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.character__item--10 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.character-wrapper {
  width: 150px;
  height: 150px;
}

input[type=checkbox][id^=character-checkbox] {
  display: none;
}

.character-checkbox-label {
  border: 2px solid transparent;
  display: block;
  border-radius: 3px;
  position: relative;
  margin: 20px 0 0 0;
  cursor: pointer;
  user-select: none;
  transition: ease-in-out 150ms;
}

.character-checkbox-label img {
  height: 100%;
  width: 100%;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .character-checkbox-label {
  border: 2px solid pink;
  transition: ease-in-out 150ms;
  transform: scale(0.95);
}

td[class*=gameBoard__block-] {
  border-bottom: 10px solid #ff9e9e;
  max-height: 100px;
}

.gameBoard {
  width: 100%;
}

tr {
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
